title = "Code"
url = "/code"
layout = "default"
is_hidden = 0

[builderList]
modelClass = "Martin\Code\Models\Article"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "title"
noRecordsMessage = "No records found"
detailsPage = "code_single"
detailsKeyColumn = "id"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"
sortColumn = "title"
sortDirection = "asc"

[searchInput]
useAutoComplete = 1
autoCompleteResultCount = 5
showProviderBadge = 1
searchPage = "search.htm"

[siteSearchInclude]
==
<?php
use martin\code\models\Article;
    use martin\code\models\Category;

    function onstart() {$this->prepareVars();}
    function onFilterArticles() {$this->prepareVars();}

    function prepareVars(){

        $options = post('Filter', []);

        $this['articles'] = Article::listFrontEnd($options);
        $this['categories'] = Category::all();

        $this['detailsPage'] = "code_single";
        $this['detailsKeyColumn'] = "id";
        $this['detailsUrlParameter'] = "id";
        
    }
?>
==
{##}
{% component 'siteSearchInclude' %}
{% if user %}
{% set articles = builderList.records %}
{% set displayColumn = builderList.displayColumn %}
{% set noRecordsMessage = builderList.noRecordsMessage %}


<h3 >Code Notes</h3>

<div style="position:relative;">
    <div style="position:relative;right:0;margin-bottom:10px;">
        <form action="{{ searchInput.searchPage | page }}?q={{ query | url_encode(true) }}" method="get">
            <div class="ss-search-form">
                <div class="ss-search-form__input">
                    <input name="q" type="text" placeholder="Search..." 
                        value="{{ searchInput.query }}"
                        autocomplete="off"
                        autofocus
                            {% if searchInput.useAutoComplete %}
                                data-track-input
                                data-request="{{ searchInput }}::onType"
                                data-request-before-update="document.getElementById('autocomplete-results').classList.add('ss-search-form__results--visible')"
                                data-request-update="'{{ searchInput }}::autocomplete': '#autocomplete-results'"
                            {% endif %}
                    >
                    <button class="ss-search-form__submit" type="submit">Go</button>
                </div>
                <div class="ss-search-form__results" id="autocomplete-results"></div>
            </div>
        </form>
    </div>
</div>






<div class="filterSection">
    <div class="leftSection">
        <div class="innerLeftSection">

            {{ form_ajax('onFilterArticles', { update: {'articles/articles': '#partialArticles'},'id': 'formCheckboxes'}) }}
            
            <div id="articleFilter" class="articleFilter">
                <label>Tags</label>
                <br>
                {% for category in categories %}
                <div class="tagDiv">
                    <input type="checkbox" name="Filter[categories][]" value="{{ category.id }}" />
                    <label>{{ category.category }}</label>
                   
                </div> 
                {% endfor %}
                {# {{ articles }} #}
                {# <input type="reset" value="Reset"> #}
            </div> 
            
            {{ form_close() }}

        </div>
    </div>  
    <div class="rightSection">
        
        <div id="partialArticles" class="innerRightSection">
       
            {% partial 'articles/articles' detailsPage = detailsPage detailsUrlParameter = detailsUrlParameter detailsKeyColumn = detailsKeyColumn %}
            
        </div>
    </div>  
</div>
{% else %}
<h1>Nope! Yer nae logged in pal. </h1>
{% endif %}