title = "code_single"
url = "/code_single/:id"
layout = "default"
is_hidden = 0

[builderDetails]
modelClass = "Martin\Code\Models\Article"
identifierValue = "{{ :id }}"
modelKeyColumn = "id"
displayColumn = "title"
notFoundMessage = "Record not found"
==
{% set record = builderDetails.record %}
{% set displayColumn = builderDetails.displayColumn %}
{% set notFoundMessage = builderDetails.notFoundMessage %}

{% if user %}



{% if record %}
    <h1>{{record.title|raw }}</h1>
    <h5>
        {% for category in record.categories %}
        {{category.category }}, 
        {% endfor %}<br>
    </h5>
     <p>{{record.description|raw }}</p>
    <p>{{record.content|raw }}</p>
    <a href="/FlashCards/backend/martin/code/articles/update/{{ record.id }}">Edit</a>
{% else %}
    {{ notFoundMessage }}
{% endif %}
{% else %}
<h1>Nope! Yer nae logged in pal. </h1>
{% endif %}