title = "deck details"
url = "/deck/:id"
layout = "default"
is_hidden = 0

[builderDetails]
modelClass = "Martin\Decks\Models\Deck"
identifierValue = "{{ :id }}"
modelKeyColumn = "id"
displayColumn = "name"
notFoundMessage = "Record not found"
==
{% set record = builderDetails.record %}
{% set displayColumn = builderDetails.displayColumn %}
{% set notFoundMessage = builderDetails.notFoundMessage %}


{% if user %}
            <h3>{{ attribute(record, displayColumn) }}</h3>
    <div class="deckDiv" style="margin-top:20px;">
        {% if record %}
            <p>Cards: {{ record.cards|length}}</p>
        
        {% else %}
            {{ notFoundMessage }}
        {% endif %}
    </div>
{% else %}
    <h1>Nope! Yer nae logged in pal. </h1>
{% endif %}