title = "Study SR"
url = "/studysr/:id"
layout = "default"
is_hidden = 0

==
<?php
use martin\decks\models\Deck;
use martin\decks\models\Card;

    function onstart() {$this->prepareVars();}
   

    function prepareVars(){

       

        //$this['deck_id'] = $this->param('id');
        
        $this['deck'] = Deck::where('id','=', $this->param('id'))->first();
        $this['cards'] = Card::where('deck_id','=', $this->param('id'))->get();


    }
?>
==
{##}

<h3 style="color:#888;">Spaced Retrieval Study Session</h3>
<h3>Deck: {{ deck.name }}</h3>
<h5 style="color:#888;">Number of Cards: {{ cards|length}}</h5>
<div class="studyDecks">
   
    <div id="deckCards" class="cardsStudy">
            {% for card in cards %}
            
            {% if loop.index == 1 %}
                <div class="card" style="display:block;">
                    <h5>Card: {{ loop.index }}</h5>
                    <h5 class="cardFront{{ loop.index }}" ><strong>Question:</strong><br><br>{{card.front}}</h5>
                    
                    <h5 class="cardBack{{ loop.index }}" style="display:none;"> <strong>Answer:</strong><br><br>{{card.back}}</h5>
                    <br>
            {% else %}
                <div class="card" >
                    <h5>Card: {{ loop.index }}</h5>
                    <h5 class="cardFront{{ loop.index }}" ><strong>Question:</strong><br><br>{{card.front}}</h5>
                    <h5 class="cardBack{{ loop.index }}" style="display:none;"><strong>Answer:</strong><br><br>{{card.back}}</h5>
                    <br>
            {% endif %}
                </div>
        {% endfor %}
    </div>
          
   
    <div class="buttonsDiv">
        <button style="margin-bottom:5px;display:block;" onclick="showAnswer();">Show Answer</button>
    </div>
    <div class="buttonsRateDiv">
        <button onclick="changeCard();" style="margin-bottom:5px;display:block;" onclick="difficultyRating('easy');">Easy</button>
        <button onclick="changeCard();" style="margin-bottom:5px;display:block;" onclick="difficultyRating('ok');">Ok</button>
        <button onclick="changeCard();" style="margin-bottom:5px;display:block;" onclick="difficultyRating('hard');">Hard</button>
    </div>
</div>