description = "Default layout"

[session]
security = "all"
redirect = "home"
==
{##}
{% component 'session' %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
       
        <link href="{{ 'assets/css/theme.css'|theme }}" rel="stylesheet">
        <link href="{{ 'assets/css/vendor.css'|theme }}" rel="stylesheet">
        {% styles %}
        
        <link rel="icon" type="image/svg+xml" href="{{ 'assets/svg/MDWDLogo2.3.svg'|theme }}">
        <title>{{ this.page.title }}</title>
    </head>
    <body>

        <!-- Header -->
        <header id="layout-header">
            {% partial 'site/header' %}
        </header>

        <!-- Content -->
        <section id="layout-content">
            <div class="gridContainer">
                {% page %}
            </div>
        </section>

        <!-- Footer -->
        <footer id="layout-footer">
            {% partial 'site/footer' %}
        </footer>

        <!-- Scripts -->
        <script src="{{ 'assets/vendor/jquery.js'|theme }}"></script>
        <script src="{{ 'assets/vendor/bootstrap.js'|theme }}"></script>
        {% framework extras %}
        {% scripts %}
        <script src="{{ 'assets/js/main.js'|theme }}"></script>

    </body>
</html>