{##}

{% for article in articles %}
 
    {# Use spaceless tag to remove spaces inside the A tag. #}
    <div style="border:1px solid #666;border-radius:4px;padding:10px;">
    {% spaceless %}
    
        {% if detailsPage %}
            <a href="{{ detailsPage|page({ (detailsUrlParameter): attribute(article, detailsKeyColumn) }) }}">
        {% endif %}

        {{ article.title|raw }}<br>
    
        
        {% if detailsPage %}
            </a>
        {% endif %}
        
    {% endspaceless %}
    {% for category in article.categories %}
        {{category.category }}, 
    {% endfor %}
        <br>
    {{ article.description|raw }}<br>
    </div>
           
<br>
{% endfor %}